body{
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("dish.jpg");
  background-size: cover;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}

.section-blocks {
  background-color: rgba(255,255,255,0.7);
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.recipe-desc {
  max-width: 350px;
}

.recipe-ingredients {
  max-width: 350px;
}

.recipe-instructions {
  display:block;
  margin: 0 auto;
  max-width: 600px;
  background-color: rgba(255,255,255,0.7);
  padding: 30px 15px;
  border-radius: 10px;

  ul {
    padding-left: 15px;
    margin: 0;
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
}
