body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ticket-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 780px;
  height: 263px;
  padding: 20px;
  background-color: #EFC684;
  border-radius: 10px;
}

.ticket-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 27%;
  height: 100%;
}

.ticket-title h1 {
  margin-top: 0;
  font-size: 55px;
}

.ticket-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket-price span {
  padding: 10px 24px;
  border: 1px solid #000;
}

.ticket-info {
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.info-lines-wrapper {
  margin-top: 10px;
}

.info-lines-wrapper .ticket-info-line {
  margin-bottom: 29px;
  border-bottom: 1px solid #000;
  font-size: 20px;
}

.ticket-info img {
  max-width: 100%;
}

.ticket-popcorn {
  position: relative;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.popcorn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ticket-popcorn:before {
  content: '';
  position: relative;
  top: 0;
  left: -45px;
  height: 303px;
  border-left: 2px dashed red;
}

.ticket-popcorn-pop {
  position: relative;
  top: 0;
  left: 15px;
  opacity: 0;
}

.ticket-popcorn-pop img {
  position: relative;
}

.ticket-popcorn-pop img:first-of-type {
  top: 10px;
  left: -4px;
  transform: rotate(-25deg);
}

.ticket-popcorn-pop img:last-of-type {
  top: 15px;
  right: -9px;
  transform: rotate(45deg);
}

.ticket-popcorn>img {
  position: relative;
  top: 20px;
  transition: all 0.5s ease-out;
}

.ticket-popcorn .popcorn-wrapper>img:hover {
  animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  top: 10px;
}

.ticket-popcorn:hover .ticket-popcorn-pop {
  animation: slide-top 0.5s ease-in-out both;
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    transform: rotate(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: rotate(-6deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(-4deg);
  }
}